header {
  background-color: skyblue;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 70px;
  height: 70px;
}
.menu ul {
  display: flex;
  list-style: none;
}
.menu ul li {
  margin: 0 15px;
}
.form {
  background-color: #c0c0c0; 
  display: flex;
  flex-direction: column;
}
.form-items {
  width: 30%;
  margin: auto;
  text-align: center;
}
.company,.name,.tel,.email,.textarea {
  width: 100%;
}
.company,.name,.tel,.email {
  height: 30px;
}
.textarea {
  height: 250px;
}
.sendbutton {
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
}
