.spade {
  position: relative;
}
p {
  border: 1px solid;
  width: 80px;
  height: 100px;
  font-size: 10px;
}
.spade > p {
  background-color: skyblue;
  position: absolute;
  top: 0px;
}
.s-1 {
  left: 10px;
}
.s-2 {
  left: 30px;
}
.s-3 {
  left: 50px;
}
.s-4 {
  left: 70px;
}
.s-5 {
  left: 90px;
}
.s-6 {
  left: 110px;
}
.s-7 {
  left: 130px;
}
.s-8 {
  left: 150px;
}
.s-9 {
  left: 170px;
}
.s-10 {
  left: 190px;
}
.s-11 {
  left: 210px;
}
.s-12 {
  left: 230px;
}
.s-13 {
  left: 250px;
}
.heart > p {
  background-color: pink;
  position: absolute;
}
.h-1 {
  z-index: 13;
  left: 800px;
  top: 30px;
}
.h-2 {
  z-index: 12;
  top: 50px;
  left: 780px;
}
.h-3 {
  z-index: 11;
  top: 70px;
  left: 760px;
}
.h-4 {
  z-index: 10;
  top: 90px;
  left: 740px;
}
.h-5 {
  z-index: 9;
  top: 110px;
  left: 720px;
}
.h-6 {
  z-index: 8;
  top: 130px;
  left: 700px;
}
.h-7 {
  z-index: 7;
  top: 150px;
  left: 680px;
}
.h-8 {
  z-index: 6;
  top: 130px;
  left: 660px;
}
.h-9 {
  z-index: 5;
  top: 110px;
  left: 640px;
}
.h-10 {
  z-index: 4;
  top: 90px;
  left: 620px;
}
.h-11 {
  z-index: 3;
  top: 70px;
  left: 600px;
}
.h-12 {
  z-index: 2;
  top: 50px;
  left: 580px;
}
.h-13 {
  z-index: 1;
  top: 30px;
  left: 560px;
}

